<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery 소스 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- BootStemp -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- login.html 에서 회원가입 버튼을 누르면 여기서 회원가입
	 회원가입 완료하면 다시 앞전 
	 AdministratorLogin.html 화면으로 이동 -->
</head>
<body>	
	<div class="col-md-15">
    <div class="col-md-5">
	<form class="form-horizontal">
  		<div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label">ID</label>
    			<div class="col-sm-10">
      		<input type="email" class="form-control" id="userid" placeholder="아이디를 입력하세요">
   				</div>
  		</div>
  		<div class="form-group">
   			 <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    			<div class="col-sm-10">
     		 <input type="password" class="form-control" id="password" placeholder="패스워드를 입력하세요">
   				 </div>
 		 </div>
 		 
 		 <div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
     		 <button type="submit" class="btn btn-default" onclick="location.href='/login'">취소</button>
     		 <button type="button" class="btn btn-primary" id="save">등록</button>
    		</div>
 		 </div>
 	</form>
	
	<!-- 버튼(#save)이 클릭됬을때, 아이디,패스워드 읽어오자  -->
	<!-- if문을 사용하여 input에 빈칸일경우 alert로 return하는 코드 작성 -->
	<script>
		$(function(){
			$('#save').click((event)=>{
				const userid = $('#userid').val();
				const password = $('#password').val();
				const path = '/api/register';
				const json = JSON.stringify({
					userid:userid,
					password:password
				});
				$.ajax({
					url:path,
					type:'POST',
					contentType: 'application/json',
					data:json,
				    error:function(request,status,error){
				        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}

				})
				
				.done((result)=>{
					alert('회원 가입완료'); 
					
					var url = "http://localhost:9002/login";
					window.location = url;
					window.location.replace(url);
					})
				.fail((result)=>{
					alert('회원 가입실패'); 
					});
			});
		});
	</script>
</body>
</html>