<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery 소스 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- BootStemp -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- { 상품등록 전체상품조회 상품수정 매출통계 } 메뉴바로 구성된 화면 -->
<h2>관리자 페이지</h2>

	<div class="row side_nav">
		<ul class="nav nav-pills nav-stacked">
			<li class="active li_btns"><a>관리자 메뉴</a></li>
			<li class="li_btns"><a href="/pregister">상품 등록</a></li>
			<li class="li_btns"><a href="/pcheck">상품 조회</a></li>
			<li class="li_btns"><a href="/admin/list">상품 수정</a></li>
			<li class="li_btns"><a href="/admin/list">매출 통계</a></li>
		</ul>
	</div>

</body>
</html>