<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
 integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
 crossorigin="anonymous"></script>
 <!-- BootStemp -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- '관리자로그인' 버튼을 누르면 여기로 이동 -->
<!-- 로그인이 되면 AdministratorMain.html 으로 이동 -->

<!-- '회원가입' 버튼을 누르면 AdministratorRegister.html로 이동 -->
</head>
<body>

	<div class="form-group">
    <div class="col-md-5">
	<section>
	<div th:if="${param.error}">Failed. Check username and password.</div>
	<form th:action="@{/login}" method="post">
	Userid <input type="text" name="username"/><br>
	Password<input type="password" name="password"><br>
	<input type="submit" value="Login"/>
	</form>
</section>

</body>
</html>