<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

   <h2>상품 수정</h2>
   <div>
   <input id="menuid" type="hidden" th:value="${menu.menuid}"> 
   상품명 <input id="menuname" th:value="${menu.menuname}"><br>
   가격 <input id="price" th:value="${menu.price}"><br>
   
   종류    <select id="kindid">
         <option th:each="m:${menu}" th:value="${m.kind.kindid}" th:text="${m.kind.kindname}"></option>
            <option th:if="${menu.kind.kindid}!=${k.kindid}" th:each="k : ${kind}" th:value="${k.kindid}" th:text="${k.kindname}"></option>
                <!--
                <option value="1">닭발</option>
                <option value="2">돼지고기</option>
                <option value="3"><a>분식</a></option>
                <option value="4">반찬</option>ㄴㅁㄹㅁ
                <option value="5">탕</option> 
                <option value="6">양식</option>
                <option value="7">기타</option>
            -->
      </select>   <br>
   수량 <input id="stock" type="number" th:value="${menu.stock}"><br>
   설명 <textarea  rows="5" cols="30" id="ex" th:text="${menu.ex}"> </textarea><br>
   <button class="modify"> 수정 </button>
   </div>
   <script>
      $(function(){
         $('.modify').click((event)=>{
            const menuname = $('#menuname').val();
            const kindid = $('#kindid').val();
            
            const price = $('#price').val();
                  const stock = $('#stock').val();
                  const ex = $('#ex').val();
                  const menuid = $('#menuid').val();
                  var a = ['닭발', '돼지고기', '분식', '반찬', '탕', '양식', '기타'];
                  const kindname = a[kindid];
                        
            const path = '/api/modify';
            const json = JSON.stringify({
               'menuid':menuid,
               'menuname':menuname,
               kind: {
                  'kindid': kindid,
                  'kindname': kindname
               },
               'price':price,
               'stock':stock,
               'ex':ex
                   
                });
                console.log(kindname);
                console.log(kindid);
                console.log(json);
            $.ajax({
               url:path,
               type:'Put',
               contentType: 'application/json',
               data:json,
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}

            })
            
            .done((result)=>{
               alert('상품수정 완료'); 
               
               var url = "http://localhost:9002/pcheck";
               window.location = url;
               window.location.replace(url);
               })
            .fail((result)=>{
               alert('상품수정 실패'); 
               });
         });
      });
      
   </script>
</body>
</html>